.managers {
    min-height: 342px;
    background: url('../img/managers_bg.jpg') center (center / cover) no-repeat;
    padding: 58px 0 75px 0;
    &__logo {
        border-width: 1px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        margin-top: 20px;
    }
    &__descr {
        margin-top: 22px;
        text-align: center;
        font-size: 19px;
        color: rgb(255, 255, 255);
        font-weight: 300;
    }
}