.overlay {
    // display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .56);
    z-index: 10;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    width: 380px;
    // min-height: 400px;
    padding: 38px 40px 40px 40px;
    z-index: 10;
    &__close {
        position: absolute;
        top: 0;
        right: 5px;
        top: 5px;
        font-size: 41px;
        line-height: 21px;
        color: $main-color;
        cursor: pointer;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 18px;
        color: $main-color;
        text-align: center;
        font-weight: 700;
    }
    &__descr {
        font-size: 14px;
        color: #0d0d0d;
        text-align: center;
        font-weight: 500;
    }
    &_mini {
        min-height: 140px;
    }
    &__form {
        display: grid;
        justify-content: center;
        grid-template: repeat(3, minmax(45px, auto)) / 268px;
        gap: 8px;
        margin-top: 20px;
        input {
            background-color: #fff;
            width: 100%;
            height: 45px;
            padding: 0 27px;
            border: none;
            border-radius: 45px;
            font-size: 13px;
            font-weight: 300;
            color: rgba(16, 16, 16, 0.702);
            outline: none;
        }
        label.error {
            color: red;
            width: 268px;
            font-size: 13px;
            font-weight: 400;
            text-align: center;
            display: block;
            margin-top: 5px;
        }
    }
}

#call, #thanks {
    display: none;
}